[user]
  email = "mfisher87@gmail.com"
  name = "Matt Fisher"
  signingkey = "~/.ssh/id_ed25519.pub"

[gpg]
  format = "ssh"

[core]
  editor = "vim"
  # IMPORTANT: `diff-highlight` requires $PATH setup, which I have done in
  # ~/.bash_path. Further notes are available there, as this can differ from
  # system to system. In the worst case, comment the line below.
  # pager = "diff-highlight | less"

  autocrlf = "input"
  whitespace = "cr-at-eol"
  excludesfile = "~/.gitignore_global"

[interactive]
  # IMPORTANT: `diff-highlight` requires $PATH setup, which I have done in
  # ~/.bash_path. Further notes are available there, as this can differ from
  # system to system. In the worst case, comment the line below.
  # diffFilter = "diff-highlight"

[color]
  ui = true


[alias]
  ## Helpers:
  # Output the path of the root directory of this git repo:
  root = "rev-parse --show-toplevel"

  # For older versions of git that don't support defaultBranch config:
  new = "!git init && git symbolic-ref HEAD refs/heads/main"

  ## Common typos:
  puhs = "push"

  ## Convenience:
  d = "diff"
  ds = "diff --staged"

  c = "commit"
  cv = "commit --verbose"

  po = "push --set-upstream origin"
  pob = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
  pb = "pob"

  f = "fetch"
  fm = "fetch origin main:main"

  s = "switch"
  sm = "switch main"
  nb = "switch -c"

  wt = "worktree"

  # "Log list": shows tree format
  lol = "log --graph --decorate --oneline"
  # "Log list all"
  lola = "log --graph --decorate --oneline --all"
  # "Log list all for Carpentries doc repos": These reposhave lots of branches
  # I don't want to see here :) NOTE:
  #   * An `md-outputs*` branch is (an implementation detail?) generated for each PR
  #   * `--all` MUST be after `--exclude`s.
  lolac = "log --decorate --graph --oneline --exclude=refs/*/gh-pages --exclude=refs/*/md-outputs* --all"

  ## Conflict resolution helpers from https://archive.kernel.org/oldwiki/git.wiki.kernel.org/index.php/Aliases.html
  # Edit conflicted files
  edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim -p `f`"
  # Add conflicted files
  add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"

  # Print out unique authors for the current repo in git-mob CLI format: `git add-coauthor $1 $2`
  mob-authors = !git log --format='\"%an\" \"%ae\"' | sort -u
  # Print out mob-authors in git-mob JSON config format
  mob-authors-json = !git log --format='{\"name\": \"%an\", \"email\": \"%ae\"},' | sort -u


# Command-specific settings:
[init]
  defaultBranch = "main"

[merge]
  conflictstyle = "merge"

[push]
  default = "simple"

[pull]
  rebase = false
  ff = "only"

[commit]
  verbose = true
  gpgsign = true
